@import "mixin";

body {
  background: #050505;
}

.areas-hero {
  padding: rem(220) 0 rem(140) 0;
  background-image: url(/images/areas/heroBack.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  @media (max-width: rem(992)) {
    padding: rem(110) 0;
    background-image: none;
  }
  .hero-mob {
    display: none;
    @media (max-width: rem(992)) {
      width: 100%;
      height: auto;
      display: block;
      margin-top: -100px;
    }
  }
  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    > div {
      width: 50%;
      @media (max-width: rem(992)) {
        width: 100%;
      }
      &:last-child {
        display: flex;
        justify-content: flex-end;
        position: relative;
        @media (max-width: rem(992)) {
          display: none;
        }
        img {
          &:first-child {
            //margin-top: rem(80);
          }
          &:last-child {
            position: absolute;
            left: -10px;
            top: 50px;
            animation: float 5s ease-in-out infinite;
          }
        }
      }
      h1 {
        color: #f3f3f3;
        font-size: rem(78);
        font-weight: 800;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-align: left;
        text-transform: uppercase;
        margin: 0 0 rem(40) 0;
        @media (max-width: rem(992)) {
          margin-bottom: rem(20);
          font-size: rem(54);
        }
      }
      .circle {
        margin-top: rem(65);
        margin-left: -10px;
        position: relative;
        width: fit-content;
        @media (max-width: rem(992)) {
          //display: none;
          margin-top: rem(24);
        }
        img {
          &:first-child {
            animation: rotate 40s linear infinite;
          }
          &:last-child {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.call-to-action {
  margin: rem(150) 0;
  @media (max-width: rem(992)) {
    margin: rem(100) 0;
  }
  &__body {
    background-color: #161616;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/images/services/callToAction.png);
    @media (max-width: rem(992)) {
      background-image: none;
    }
    .hero-mob {
      display: none;
      @media (max-width: rem(992)) {
        width: 100%;
        height: auto;
        display: block;
        margin-top: rem(30);
      }
    }
    div {
      padding: rem(54) rem(76);
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: rem(992)) {
        align-items: center;
        width: 100%;
        padding: rem(45) rem(20) 0 rem(20);
      }
      h2 {
        font-size: rem(32);
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        color: #fff;
        margin: 0 0 rem(45) 0;
        @media (max-width: rem(992)) {
          font-size: rem(28);
          margin: 0 0 rem(30) 0;
          text-align: center;
        }
        span {
          display: block;
          font-size: rem(60);
          font-weight: 300;
          line-height: 1.2;
          text-align: left;
          color: #e6f355;
          text-transform: uppercase;
          @media (max-width: rem(992)) {
            font-size: rem(40);
            text-align: center;
          }
        }
      }
      a {
        color: #f3f3f3;
        font-size: rem(22);
        font-weight: 400;
        line-height: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #f3f3f3;
        height: rem(58);
        width: rem(240);
        border-radius: rem(16);
        @media (max-width: rem(992)) {
          font-size: rem(18);
          width: rem(215);
        }
      }
    }
  }
}

.areas-loop {
  margin: 0 0 rem(150) 0;
  @media (max-width: rem(992)) {
    margin: 0 0 rem(100) 0;
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: rem(12);
    @media (max-width: rem(992)) {
      gap: rem(16);
    }
    > a {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      height: rem(310);
      width: calc(50% - rem(6));
      background: #161616;
      padding: rem(40);
      @media (max-width: rem(992)) {
        width: 100%;
        padding: rem(35) rem(30);
        height: rem(260);
      }
      &:hover {
        background: #1f1f1f;
        h2 {
          color: #e6f355;
        }
        .image2 {
          opacity: 1;
        }
        .explore {
          color: #fff;
          svg {
            rect {
              fill: #e6f355;
              stroke: #e6f355;
            }
            path {
              stroke: #1a1a1a;
            }
          }
        }
      }
      .image1 {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        height: auto;
        @media (max-width: rem(992)) {
          max-height: 55%;
          width: auto;
        }
      }
      .image2 {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
        opacity: 0.3;
        transition: all 0.3s;
        @media (max-width: rem(992)) {
          max-width: 60%;
          height: auto;
        }
      }
      h2 {
        font-size: rem(30);
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
        color: #f3f3f3;
        margin: 0;
        text-transform: uppercase;
        @media (max-width: rem(992)) {
          font-size: rem(26);
        }
      }
      .explore {
        display: flex;
        align-items: center;
        gap: rem(10);
        color: #e6f355;
        font-size: rem(18);
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        &:hover {
        }
      }
    }
  }
}

.area-hero {
  background-image: url("/images/areas/area-back-01.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 876px;
  overflow: hidden;

  @media (max-width: 767px) {
    background-image: url("/images/areas/area-back-02.png");
    background-size: cover;
    background-position: top center;
  }

  &._marketing {
    background-image: url("/images/areas/area-back-03.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 876px;
    overflow: hidden;

    @media (max-width: 767px) {
      background-image: url("/images/areas/area-back-03.png");
      background-size: cover;
      background-position: top center;
    }
  }

  &__container {
  }

  &__body {
    @include adaptiv-value("padding-top", 220, 120, 1);
    @include adaptiv-value("padding-bottom", 100, 50, 1);
    position: relative;

    @media (max-width: 992px) {
      padding-bottom: 330px;
    }
  }

  &__title {
    @include adaptiv-value("font-size", 78, 38, 1);
    line-height: 112%;
    font-weight: 900;
    color: #f3f3f3;
    text-transform: uppercase;
  }

  &__circle {
    margin-top: rem(65);
    margin-left: -10px;
    position: relative;
    width: fit-content;
    @media (max-width: rem(992)) {
      //display: none;
      margin-top: rem(24);
    }
    img {
      &:first-child {
        animation: rotate 40s linear infinite;
      }
      &:last-child {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__image {
    .img-01 {
      position: absolute;
      top: 60px;
      right: -120px;
      max-width: 550px;
      width: 100%;
      object-fit: cover;
      animation: bounce-custom 3s linear infinite;
      @media (max-width: 767px) {
        display: none;
      }
    }

    .img-02 {
      position: absolute;
      bottom: 0;
      left: 0%;
      transform: translate(-50%, 0);
      max-width: 500px;
      width: 100%;
      object-fit: cover;
      animation: bounce-custom 3s linear infinite;
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}

.gaps {
  @media (max-width: 992px) {
    padding-top: 50px;
  }
  &__container {
  }

  &__body {
  }

  &__title {
    @include adaptiv-value("font-size", 62, 48, 1);
    line-height: normal;
    color: #e6f355;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Manrope", sans-serif;

    span {
      color: #fff;
      font-size: 32px;
    }
  }

  &__content {
    @include adaptiv-value("margin-top", 60, 35, 1);
  }
}

.gaps-slider {
  display: flex;
  gap: 22px;

  @media (max-width: 992px) {
    display: block;
    gap: 0;
  }

  .swiper-pagination {
    position: relative;
    top: unset !important;
    left: unset !important;
    bottom: unset !important;
    margin-top: rem(30);
    display: flex;
    justify-content: center;
    gap: rem(5);
    opacity: 1;
    .swiper-pagination-bullet {
      background: #fff;
      width: rem(13);
      height: rem(2);
      display: block;
      transition: all 0.5s;
      opacity: 1;
      border-radius: 0;
      &.swiper-pagination-bullet-active {
        width: rem(34);
        background: #e6f355;
      }
    }
  }

  &__item {
    width: 20%;
    @media (max-width: 992px) {
      width: 100%;
    }
  }

  &__wrapper {
    background-color: #161616;
    padding: 22px 15px;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: #1f1f1f;

      .gaps-slider__title {
        color: #e6f355;
      }
    }
  }

  &__title {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    line-height: normal;
    color: #f3f3f3;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease 0s;
  }

  &__text {
    margin: 15px 0 0 0;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #f3f3f3;
  }
}

.approach {
  @include adaptiv-value("padding-top", 140, 100, 1);
  @include adaptiv-value("padding-bottom", 140, 100, 1);
  &__container {
  }

  &__body {
    @media (max-width: 767px) {
      padding-bottom: 100px;
      position: relative;
    }
  }

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 32px;
  }

  &__title {
    @include adaptiv-value("font-size", 62, 48, 1);
    line-height: normal;
    color: #e6f355;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Manrope", sans-serif;

    span {
      color: #fff;
      font-size: 32px;
    }
  }

  &__link {
    padding: 16px 43px;
    border: 1px solid #fff;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: transparent;
    color: #fff;
    @include adaptiv-value("font-size", 22, 18, 1);
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    transition: all 0.3s ease 0s;
    &:hover {
      border-color: #e6f355;
      color: #e6f355;
    }

    @media (max-width: 767px) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &__content {
    @include adaptiv-value("margin-top", 60, 35, 1);
    display: flex;
    align-items: stretch;
    gap: 22px;

    @media (max-width: 992px) {
      flex-direction: column-reverse;
      gap: 35px;
    }
  }

  &__banner {
    width: 328px;
    min-width: 328px;
    max-width: 328px;
    background-color: #161616;

    @media (max-width: 992px) {
      @include adaptiv-value("height", 550, 311, 1);
      max-width: 100%;
      min-width: 100%;
    }

    .images {
      display: flex;
      height: 100%;
      .img-01 {
        width: 100%;
        object-fit: cover;
        @media (max-width: 992px) {
          display: none;
        }
      }

      .img-02 {
        width: 100%;
        object-fit: cover;
        @media (min-width: 993px) {
          display: none;
        }
      }
    }
  }
}

.approach-slider {
  font-family: "Lato", sans-serif;

  @media (max-width: 992px) {
    width: 100%;
  }

  &__item {
    &:not(:last-child) {
      margin: 0 0 22px 0;
    }
  }

  &__wrapper {
    display: flex;
    align-items: stretch;
    gap: 22px;

    @media (max-width: 992px) {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__col-01 {
    width: 47%;
    background-color: #e6f355;
    padding: 24px 17px;
    display: flex;
    align-items: center;
    gap: 25px;
    @media (max-width: 992px) {
      width: 100%;
    }
  }

  &__col-02 {
    width: 53%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #0d0d0d;
    font-size: 16px;
    line-height: 133%;
    padding: 30px 25px;
    background-color: #d9d9d9;
    @media (max-width: 992px) {
      width: 100%;
    }
  }

  &__number {
    font-family: "Lato", sans-serif;
    font-size: 60px;
    line-height: normal;
    font-weight: 300;
    color: #1e1e1e;
  }

  &__title {
    font-family: "Lato", sans-serif;
    font-size: 28px;
    line-height: normal;
    font-weight: 400;
    color: #1e1e1e;
  }

  .swiper-pagination {
    position: relative;
    top: unset !important;
    left: unset !important;
    bottom: unset !important;
    margin-top: rem(30);
    display: flex;
    justify-content: center;
    gap: rem(5);
    opacity: 1;
    .swiper-pagination-bullet {
      background: #fff;
      width: rem(13);
      height: rem(2);
      display: block;
      transition: all 0.5s;
      opacity: 1;
      border-radius: 0;
      &.swiper-pagination-bullet-active {
        width: rem(34);
        background: #e6f355;
      }
    }
  }
}
