@import "mixin";

body {
  background: #050505;
}

.contacts-hero {
  padding: rem(190) 0 rem(140) 0;
  background-image: url(/images/contacts/heroBack.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  @media (max-width: rem(992)) {
    padding: rem(110) 0;
    background-image: none;
  }

  .hero-mob {
    display: none;
    @media (max-width: rem(992)) {
      width: 100%;
      height: auto;
      display: block;
      margin-top: -80px;
    }
  }

  ._container {
    position: relative;
    .back {
      position: absolute;
      right: -100px;
      top: -100px;
      z-index: 0;
      @media (max-width: rem(992)) {
        display: none;
      }
    }
  }

  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    position: relative;

    > div {
      width: 50%;
      position: relative;
      z-index: 1;
      @media (max-width: rem(992)) {
        width: 100%;
      }
      &:last-child {
        display: flex;
        justify-content: flex-end;
        position: relative;
        @media (max-width: rem(992)) {
          display: none;
        }
        img {
          &:first-child {
            margin-top: -50px;
          }
          &:last-child {
            position: absolute;
            left: 0;
            top: 20px;
            animation: float 5s ease-in-out infinite;
          }
        }
      }
      h1 {
        color: #e6f355;
        font-size: rem(56);
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-align: left;
        @media (max-width: rem(992)) {
          font-size: rem(28);
        }
      }
      h2 {
        color: #f3f3f3;
        font-size: rem(62);
        font-weight: 800;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-align: left;
        text-transform: uppercase;
        margin: 0 0 rem(40) 0;
        @media (max-width: rem(992)) {
          margin-bottom: rem(20);
          font-size: rem(38);
        }
      }
      p {
        color: #f9f9f9;
        font-size: rem(20);
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        margin: 0;
        @media (max-width: rem(992)) {
          br {
            display: none;
          }
        }
      }
      .circle {
        margin-top: rem(40);
        margin-left: -10px;
        position: relative;
        width: fit-content;
        @media (max-width: rem(992)) {
          //display: none;
          margin-top: rem(24);
        }
        img {
          &:first-child {
            animation: rotate 40s linear infinite;
          }
          &:last-child {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contacts-details {
  margin-bottom: rem(150);
  @media (max-width: rem(992)) {
    margin-bottom: rem(100);
  }
  &__body {
    display: flex;
    gap: rem(20);
    @media (max-width: rem(992)) {
      flex-direction: column;
    }
    > div {
      background: #161616;
      padding: rem(35);
      @media (max-width: rem(992)) {
        padding: rem(35) rem(30);
      }
      p {
        color: #f3f3f3;
        font-size: rem(18);
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        margin: 0;
      }
      h2 {
        color: #e6f355;
        font-size: rem(24);
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
        margin: rem(16) 0;
      }
      a {
        color: #f3f3f3;
        font-size: rem(22);
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        display: flex;
        align-items: center;
        gap: rem(16);
        margin: rem(32) 0;
        @media (max-width: rem(992)) {
          font-size: rem(18);
        }
      }
      > span {
        color: #e6f355;
        font-size: rem(16);
        font-style: italic;
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
      }
    }
    .col-01 {
      width: calc(45% - rem(10));
      @media (max-width: rem(992)) {
        width: 100%;
      }
    }
    .col-02 {
      width: calc(55% - rem(10));
      display: flex;
      padding: 0;
      @media (max-width: rem(992)) {
        width: 100%;
        padding: 0;
        flex-direction: column;
      }
      .col {
        width: 50%;
        @media (max-width: rem(992)) {
          width: 100%;
          img {
            display: none;
          }
        }
        &:first-child {
          padding: rem(35);
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
          @media (max-width: rem(992)) {
            padding: rem(35) rem(30);
          }
        }
        iframe {
            width: 100%;
          @media (max-width: rem(992)) {
            height: rem(160);
          }
        }
      }
    }
  }
}

.contact-last {
  margin: rem(150) 0;
  @media (max-width: rem(992)) {
    margin: rem(100) 0;
  }
  &__body {
    background-color: #161616;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/images/contacts/contactLast.png);
    @media (max-width: rem(992)) {
      background-image: none;
    }
    .hero-mob {
      display: none;
      @media (max-width: rem(992)) {
        width: 100%;
        height: auto;
        display: block;
        margin-top: rem(30);
      }
    }
    div {
      padding: rem(54) rem(76);
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: rem(992)) {
        align-items: center;
        width: 100%;
        padding: rem(45) rem(20) 0 rem(20);
      }
      h2 {
        font-size: rem(40);
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        color: #e6f355;
        margin: 0 0 rem(30) 0;
        text-transform: uppercase;
        @media (max-width: rem(992)) {
          font-size: rem(32);
          margin: 0 0 rem(20) 0;
          text-align: left;
        }
        span {
          display: block;
          font-size: rem(60);
          font-weight: 300;
          line-height: 1.2;
          text-align: left;
          color: #e6f355;
          text-transform: uppercase;
          @media (max-width: rem(992)) {
            font-size: rem(40);
            text-align: center;
          }
        }
      }
      p{

      }
      a {
        color: #f3f3f3;
        font-size: rem(22);
        font-weight: 400;
        line-height: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #f3f3f3;
        height: rem(58);
        width: rem(240);
        border-radius: rem(16);
        @media (max-width: rem(992)) {
          font-size: rem(18);
          width: rem(215);
        }
      }
    }
  }
}
