@import "mixin";

.policy {
  margin: rem(150) 0 rem(150) 0;
  @media (max-width: rem(992)) {
    margin: rem(100) 0 rem(100) 0;
  }
  &__body {
    padding: rem(60) rem(50);
    background: #f3f3f3;
    @media (max-width: rem(992)) {
      padding: rem(30) rem(20);
    }
    h1 {
      color: #050505;
      font-size: rem(42);
      font-weight: 800;
      line-height: 1.2;
      text-align: left;
      margin: 0 0 rem(40) 0;
      text-transform: uppercase;
      @media (max-width: rem(992)) {
        font-size: rem(32);
      }
    }
    article {
      h2 {
        color: #050505;
        font-size: rem(20);
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        margin: rem(40) 0 rem(20);
      }
      p {
        color: #050505;
        font-size: rem(16);
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 rem(20) 0;
      }
      ul {
        margin: 0 0 rem(20) 0;
        padding: 0 0 0 rem(20);
        li {
          list-style-type: disc;
          color: #050505;
          font-size: rem(16);
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
        }
      }
      ol {
        margin: 0 0 rem(20) 0;
        padding: 0 0 0 rem(20);
        list-style-type: decimal;
        li {
          list-style-type: decimal;
          color: #050505;
          font-size: rem(16);
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
        }
      }
      a {
        color: #050505;
        font-size: rem(16);
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        font-style: italic;
        text-decoration: underline;
      }
    }
  }
}
