@import "mixin";

body {
  background: #050505;
}

.services-hero {
  padding: rem(150) 0 rem(140) 0;
  background-image: url(/images/services/heroBack.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  @media (max-width: rem(992)) {
    padding: rem(110) 0;
    background-image: none;
  }
  .hero-mob {
    display: none;
    @media (max-width: rem(992)) {
      width: 100%;
      height: auto;
      display: block;
      margin-top: rem(30);
    }
  }
  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    > div {
      width: 50%;
      @media (max-width: rem(992)) {
        width: 100%;
      }
      &:last-child {
        display: flex;
        justify-content: flex-end;
        position: relative;
        @media (max-width: rem(992)) {
          display: none;
        }
        img {
          &:first-child {
            margin-top: rem(80);
          }
          &:last-child {
            position: absolute;
            left: -30px;
            top: 100px;
            animation: float 5s ease-in-out infinite;
          }
        }
      }
      h1 {
        color: #e6f355;
        font-size: rem(56);
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-align: left;
        @media (max-width: rem(992)) {
          font-size: rem(28);
        }
      }
      h2 {
        color: #f3f3f3;
        font-size: rem(62);
        font-weight: 800;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-align: left;
        text-transform: uppercase;
        margin: 0 0 rem(40) 0;
        @media (max-width: rem(992)) {
          margin-bottom: rem(20);
          font-size: rem(38);
        }
      }
      p {
        color: #f9f9f9;
        font-size: rem(20);
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        margin: 0;
        @media (max-width: rem(992)) {
          br {
            display: none;
          }
        }
      }
      .circle {
        margin-top: rem(40);
        margin-left: -10px;
        position: relative;
        width: fit-content;
        @media (max-width: rem(992)) {
          display: none;
        }
        img {
          &:first-child {
            animation: rotate 40s linear infinite;
          }
          &:last-child {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.services-loop {
  margin: 0 0 rem(100) 0;
  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(140);
    @media (max-width: rem(992)) {
      gap: rem(100);
    }
    .service {
      display: flex;
      flex-direction: column;
      gap: rem(60);
      @media (max-width: rem(992)) {
        gap: rem(30);
      }
      h2 {
        font-size: rem(32);
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        color: #fff;
        margin: 0;
        @media (max-width: rem(992)) {
          font-size: rem(28);
        }
        span {
          display: block;
          font-size: rem(60);
          font-weight: 300;
          line-height: 1.2;
          text-align: left;
          color: #e6f355;
          text-transform: uppercase;
          @media (max-width: rem(992)) {
            font-size: rem(40);
          }
        }
      }
      .service-details {
        background: #161616;
        padding: rem(40);
        background-position: right center;
        background-size: contain;
        background-repeat: no-repeat;
        @media (max-width: rem(992)) {
          padding: rem(30) rem(20);
          background-image: none !important;
        }
        &:hover {
          .inner {
            img {
              opacity: 0;
            }
            .info {
              opacity: 1;
            }
          }
        }

        .mob-image {
          display: none;
          @media (max-width: rem(992)) {
            display: block;
            max-width: calc(100% + 20px);
            margin-bottom: -30px;
            margin-right: -20px;
          }
        }

        .inner {
          width: 60%;
          margin-bottom: rem(40);
          position: relative;
          @media (max-width: rem(992)) {
            width: 100%;
          }
          img {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 1;
            transition: all 0.3s;
            @media (max-width: rem(992)) {
              display: none;
            }
          }
          .info {
            opacity: 0;
            transition: all 0.3s;
            @media (max-width: rem(992)) {
              opacity: 1;
            }
            p {
              color: #f9f9f9;
              font-size: rem(18);
              font-weight: 300;
              line-height: 1.2;
              text-align: left;
              margin: 0;
            }
            ul {
              margin: rem(12);
              padding: 0 0 0 rem(20);
              list-style-type: disc;
              li {
                list-style-type: disc;
                color: #f9f9f9;
                font-size: rem(18);
                font-weight: 300;
                line-height: 1.2;
                text-align: left;
                margin: 0;
              }
            }
          }
        }
        a {
          display: flex;
          align-items: center;
          gap: rem(10);
          color: #e6f355;
          font-size: rem(18);
          font-weight: 500;
          line-height: 1.2;
          text-align: center;
          &:hover {
            color: #fff;
            svg {
              rect {
                fill: #e6f355;
                stroke: #e6f355;
              }
              path {
                stroke: #1a1a1a;
              }
            }
          }
        }
      }
    }
  }
}

.services-inner-hero {
  padding: rem(150) 0 rem(140) 0;
  //background-image: url(/images/services/innerBack.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  @media (max-width: rem(992)) {
    padding: rem(110) 0;
    background-image: none;
  }

  &.marketing_personnel_and_employee_recruitment{
    .services-inner-hero__body{
      > div{
        &:last-child {
          img{
            &:first-child{
              width: rem(540);
              height: rem(540);
            }
            &:last-child{
              width: rem(372);
              height: rem(462);
            }
          }
        }
      }
    }
  }
  &.customer_introduction{
    .services-inner-hero__body{
      > div{
        &:last-child {
          img{
            &:first-child{
              width: rem(480);
              height: rem(480);
            }
            &:last-child{
              width: rem(440);
              height: rem(440);
              left: 0;
            }
          }
        }
      }
    }
  }

  &.investment_opportunity_identification{
    .services-inner-hero__body{
      > div{
        &:last-child {
          img{
            &:first-child{
              width: rem(540);
              height: rem(540);
            }
            &:last-child{
              width: rem(436);
              height: rem(408);
              left: 0;
            }
          }
        }
      }
    }
  }
  &.ongoing_strategic_networking_and_partnership_development{
    .services-inner-hero__body{
      > div{
        &:last-child {
          img{
            &:first-child{
              width: rem(540);
              height: auto;
            }
            &:last-child{
              width: rem(343);
              height: rem(406);
              left: 0;
            }
          }
        }
      }
    }
  }

  .hero-mob {
    display: none;
    @media (max-width: rem(992)) {
      width: 100%;
      height: auto;
      display: block;
      margin-top: rem(30);
    }
  }
  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    > div {
      width: 52%;
      @media (max-width: rem(992)) {
        width: 100%;
      }
      &:last-child {
        width: 45%;
        display: flex;
        justify-content: flex-end;
        position: relative;
        @media (max-width: rem(992)) {
          display: none;
        }
        img {
          &:first-child {
            margin-top: rem(40);
            height: auto;
          }
          &:last-child {
            position: absolute;
            left: -20px;
            top: 70px;
            animation: float 5s ease-in-out infinite;
          }
        }
      }
      h1 {
        color: #e6f355;
        font-size: rem(56);
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-align: left;
        margin: 0 0 rem(40) 0;
        @media (max-width: rem(992)) {
          font-size: rem(28);
          margin-bottom: rem(20);
        }
        span {
          color: #f3f3f3;
          font-size: rem(60);
          font-weight: 800;
          line-height: 1.2;
          letter-spacing: 0.05em;
          text-align: left;
          text-transform: uppercase;
          display: block;
          @media (max-width: rem(992)) {
            font-size: rem(38);
          }
        }
      }
      p {
        color: #f9f9f9;
        font-size: rem(20);
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        margin: 0;
        @media (max-width: rem(992)) {
          br {
            display: none;
          }
        }
      }
      .circle {
        margin-top: rem(40);
        margin-left: -10px;
        position: relative;
        width: fit-content;
        @media (max-width: rem(992)) {
          display: none;
        }
        img {
          &:first-child {
            animation: rotate 40s linear infinite;
          }
          &:last-child {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

.how-do-this {
  margin: rem(150) 0;
  @media (max-width: rem(992)) {
    margin: rem(100) 0;
  }
  h2 {
    font-size: rem(32);
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    color: #fff;
    margin: 0 0 rem(60) 0;
    @media (max-width: rem(992)) {
      font-size: rem(28);
      margin: 0 0 rem(30) 0;
    }
    span {
      display: block;
      font-size: rem(60);
      font-weight: 300;
      line-height: 1.2;
      text-align: left;
      color: #e6f355;
      text-transform: uppercase;
      @media (max-width: rem(992)) {
        font-size: rem(40);
      }
    }
  }
  &__body {
    display: flex;
    gap: rem(36);
  }
  .swiper {
    padding-bottom: rem(32);
  }
  .swiper-pagination {
    position: relative;
    top: unset !important;
    left: unset !important;
    bottom: unset !important;
    margin-top: rem(30);
    display: flex;
    justify-content: center;
    gap: rem(5);
    opacity: 1;
    .swiper-pagination-bullet {
      background: #fff;
      width: rem(13);
      height: rem(2);
      display: block;
      transition: all 0.5s;
      opacity: 1;
      border-radius: 0;
      &.swiper-pagination-bullet-active {
        width: rem(34);
        background: #e6f355;
      }
    }
  }
  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(15);
    padding: rem(20);
    background: #161616;
    height: inherit;
    span {
      font-size: rem(60);
      font-weight: 200;
      line-height: 1;
      text-align: center;
      color: #e6f355;
    }
    p {
      color: #f3f3f3;
      font-size: rem(18);
      font-weight: 500;
      line-height: 1.2;
      text-align: center;
      margin: 0;
      @media (max-width: rem(992)) {
        font-size: rem(16);
      }
    }
  }
}

.call-to-action {
  margin: rem(150) 0;
  @media (max-width: rem(992)) {
    margin: rem(100) 0;
  }
  &__body {
    background-color: #161616;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/images/services/callToAction.png);
    @media (max-width: rem(992)) {
      background-image: none;
    }
    .hero-mob {
      display: none;
      @media (max-width: rem(992)) {
        width: 100%;
        height: auto;
        display: block;
        margin-top: rem(30);
      }
    }
    div {
      padding: rem(54) rem(76);
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: rem(992)) {
        align-items: center;
        width: 100%;
        padding: rem(45) rem(20) 0 rem(20);
      }
      h2 {
        font-size: rem(32);
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        color: #fff;
        margin: 0 0 rem(45) 0;
        @media (max-width: rem(992)) {
          font-size: rem(28);
          margin: 0 0 rem(30) 0;
          text-align: center;
        }
        span {
          display: block;
          font-size: rem(60);
          font-weight: 300;
          line-height: 1.2;
          text-align: left;
          color: #e6f355;
          text-transform: uppercase;
          @media (max-width: rem(992)) {
            font-size: rem(40);
            text-align: center;
          }
        }
      }
      a {
        color: #f3f3f3;
        font-size: rem(22);
        font-weight: 400;
        line-height: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #f3f3f3;
        height: rem(58);
        width: rem(240);
        border-radius: rem(16);
        @media (max-width: rem(992)) {
          font-size: rem(18);
          width: rem(215);
        }
      }
    }
  }
}

.solutions-tabs {
  margin: rem(150) 0;
  @media (max-width: rem(992)) {
    margin: rem(100) 0;
  }
  &__body {
    display: flex;
    gap: rem(6);
    .tab-nav {
      width: calc(50% - rem(3));
      display: flex;
      flex-direction: column;
      gap: rem(6);
      @media (max-width: rem(992)) {
        width: 100%;
      }
      @media (min-width: rem(993)) {
        .tab-content.mobile {
          display: none !important;
        }
      }

      .mobile {
        .inner {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          height: 100%;
          p {
            color: #f9f9f9;
            font-size: rem(18);
            font-weight: 300;
            line-height: 1.2;
            text-align: left;
            margin: 0;
          }
          ul {
            margin: rem(12);
            padding: 0 0 0 rem(20);
            list-style-type: disc;
            li {
              list-style-type: disc;
              color: #f9f9f9;
              font-size: rem(18);
              font-weight: 300;
              line-height: 1.2;
              text-align: left;
              margin: 0;
            }
          }
          button {
            text-transform: uppercase;
            margin-top: rem(50);
            display: flex;
            align-items: center;
            gap: rem(10);
            color: #e6f355;
            font-size: rem(18);
            font-weight: 500;
            line-height: 1.2;
            text-align: center;
            &:hover {
              color: #fff;
              svg {
                rect {
                  fill: #e6f355;
                  stroke: #e6f355;
                }
                path {
                  stroke: #1a1a1a;
                }
              }
            }
          }
        }
      }

      > button {
        color: #f3f3f3;
        font-size: rem(26);
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
        padding: rem(30);
        background: #161616;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.active {
          background: #1f1f1f;
          color: #e6f355;
          svg {
            transform: rotate(-180deg);
            path {
              stroke: #e6f355;
            }
          }
        }
        svg {
          display: none;
          transform: rotate(0);
          transition: all 0.5s;
        }
        @media (max-width: rem(992)) {
          font-size: rem(20);
          span {
            width: calc(100% - rem(50));
          }
          svg {
            display: block;
          }
        }
      }
    }
    .tab-content {
      width: calc(50% - rem(3));
      background: #1f1f1f;
      padding: rem(35);
      @media (max-width: rem(992)) {
        width: 100%;
      }
      &.desktop {
        @media (max-width: rem(992)) {
          display: none !important;
        }
      }
      > div {
        height: 100%;
        .inner {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          height: 100%;
          p {
            color: #f9f9f9;
            font-size: rem(18);
            font-weight: 300;
            line-height: 1.2;
            text-align: left;
            margin: 0;
          }
          ul {
            margin: rem(12);
            padding: 0 0 0 rem(20);
            list-style-type: disc;
            li {
              list-style-type: disc;
              color: #f9f9f9;
              font-size: rem(18);
              font-weight: 300;
              line-height: 1.2;
              text-align: left;
              margin: 0;
            }
          }
          button {
            text-transform: uppercase;
            margin-top: auto;
            display: flex;
            align-items: center;
            gap: rem(10);
            color: #e6f355;
            font-size: rem(18);
            font-weight: 500;
            line-height: 1.2;
            text-align: center;
            &:hover {
              color: #fff;
              svg {
                rect {
                  fill: #e6f355;
                  stroke: #e6f355;
                }
                path {
                  stroke: #1a1a1a;
                }
              }
            }
          }
        }
      }
    }
  }
}
